@model _250ml_MVC4_2.Models.Happening

<h2>Veranstaltung erstellen</h2>

@using (Html.BeginForm("Create", "Happening", FormMethod.Post, new { @class = "col-md-12" }))
{
    
    @Html.ValidationSummary(true)
   

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(m => m.StartDate,"Beginn",null)
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.EndDate,"Ende",null)
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
        </div>
    </div>
    
    @Html.Hidden("UserId",WebSecurity.CurrentUserId)

    <div class="form-group">
        <div class="col-md-6">
            <button class="btn btn-success" type="submit" value="Create" style="margin-top:20px;">Speichern</button>
            @Html.ActionLink("zurück", "Index", null, new { @class = "btn btn-info", style = "margin-top:20px;" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/timepicker")
}