@model _250ml_MVC4_2.Models.Happening

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Happening</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>


    <h2>Bewertung (@Model.Ratings.Count)</h2>
    @{
        int max_rating = 0;
        foreach(var rating in Model.Ratings) {
            max_rating += rating.Value;
        }

        if( max_rating > 0 ) { max_rating /= Model.Ratings.Count; }

   }
       

          <div id="star" data-score="@max_rating"></div>

          <!-- schon gevotet? -->
          @{ if( Model.Ratings.Where(m => m.UserId == WebSecurity.CurrentUserId).ToList().Count == 0 )
             { @Html.Partial("AddRatingForm") }
          }
    


         
    <h2>Kommentare (@Model.Comments.Count)</h2>

        @{ int i = 1; }
        @foreach(var comment in Model.Comments) {
            <p>
                #@i - @comment.UserProfile.UserName hat geschrieben:
                <p>@comment.Content</p>
            
            </p>                           
            i++;
        }

    @{ 
        if ( User.Identity.IsAuthenticated ) { @Html.Partial("AddCommentForm", Model); }
    }



<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.HappeningId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts {
     <script src="/Scripts/jquery.raty.min.js"></script>
     <!-- to do: in .js packen -->
     <script>
         $('#star').raty({
             score: function () {
                 return $(this).attr('data-score');
             },
             path: '/Images/raty',
             number: 5,
             readOnly: true,
         });
     </script>
}